<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/cf1c59d14dc93e03927e8a6f6/08413942e992c148e3408da81.js");</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9QG9YKEFNH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9QG9YKEFNH');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6211285413414637"
     crossorigin="anonymous"></script>